<div class="single-page-post">
    <img class="img-fluid" [src]="viewedPost.profileDefault" alt="">
    <div class="top-wrapper ">
        <div class="row d-flex justify-content-between">
            <h2 class="col-lg-8 col-md-12 text-uppercase">
                {{viewedPost.title}}
            </h2>
            <div class="col-lg-4 col-md-12 right-side d-flex justify-content-end">
                <div class="desc">
                    <h2>{{viewedPost.author.firstname}} {{viewedPost.author.lastname}}</h2>
                    <h3>{{viewedPost.updatedAt | date}}</h3>
                </div>
                <div class="user-img">
                    <img [src]="viewedPost.author.profileUrl" width="50" height="50²" alt="">
                </div>
            </div>
        </div>
    <!-- </div>
    <div class="tags">
        <ul>
            <li><a href="#">lifestyle</a></li>
            <li><a href="#">Art</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Fashion</a></li>
        </ul>
    </div> -->
    <div class="single-post-content" [innerHTML]="viewedPost.content">
        
    </div>
    <div class="bottom-wrapper">
        <div class="row">
            <div class="col-lg-4 single-b-wrap col-md-12">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                {{viewedPost.likes}} likes
            </div>
            <div class="col-lg-4 single-b-wrap col-md-12">
                <i class="fa fa-comment-o" aria-hidden="true"></i> {{viewedPost.comments?.length}} comments
            </div>
            <div class="col-lg-4 single-b-wrap col-md-12">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Start nav Area -->
    <!-- <section class="nav-area pt-50 pb-100">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 nav-left justify-content-start d-flex">
                    <div class="thumb">
                        <img src="../../../assets/img/prev.jpg" alt="">
                    </div>
                     <div class="details">
                        <p>Prev Post</p>
                        <h4 class="text-uppercase"><a href="#">A Discount Toner</a></h4>
                    </div>
                </div>
                <div class="col-sm-6 nav-right justify-content-end d-flex">
                    <div class="details">
                        <p>Prev Post</p>
                        <h4 class="text-uppercase"><a href="#">A Discount Toner</a></h4>
                    </div>
                    <div class="thumb">
                        <img src="../../../assets/img/next.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End nav Area -->

    <!-- Start comment-sec Area -->
    <section class="comment-sec-area pt-80 pb-80">
        <div class="container">
            <div class="row flex-column">
                <h5 class="text-uppercase pb-80">{{viewedPost.comments?.length}} Comments</h5>
                <br>
                <div class="comment-list">
                    <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                            <div class="thumb">
                                <img src="../../../assets/img/asset/c1.jpg" alt="">
                            </div>
                            <div class="desc">
                                <h5><a href="#">Emilly Blunt</a></h5>
                                <p class="date">December 4, 2017 at 3:12 pm </p>
                                <p class="comment">
                                    Never say goodbye till the end comes!
                                </p>
                            </div>
                        </div>
                        <div class="reply-btn">
                            <a href="" class="btn-reply text-uppercase">reply</a>
                        </div>
                    </div>
                </div>
                <div class="comment-list left-padding">
                    <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                            <div class="thumb">
                                <img src="../../../assets/img/asset/c2.jpg" alt="">
                            </div>
                            <div class="desc">
                                <h5><a href="#">Emilly Blunt</a></h5>
                                <p class="date">December 4, 2017 at 3:12 pm </p>
                                <p class="comment">
                                    Never say goodbye till the end comes!
                                </p>
                            </div>
                        </div>
                        <div class="reply-btn">
                            <a href="" class="btn-reply text-uppercase">reply</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End comment-sec Area -->

    <!-- Start commentform Area -->
    <section class="commentform-area  pb-120 pt-80 mb-100">
        <div class="container">
            <h5 class="text-uppercas pb-50">Leave a Reply</h5>
            <div class="row flex-row d-flex">
                <div class="col-lg-6">
                    <input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control"
                        required="" type="text">
                    <input name="email" placeholder="Enter your email" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Enter your email'" class="common-input mb-20 form-control"
                        required="" type="email">
                    <input name="Subject" placeholder="Subject" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Enter your Subject'" class="common-input mb-20 form-control"
                        required="" type="text">

                </div>
                <div class="col-lg-6">
                    <textarea class="form-control mb-10" name="message" placeholder="Messege"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                    <a class="primary-btn mt-20" href="#">Comment</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End commentform Area -->

</div>