<div class="col-12">
    <div class="row row-cards">
        <div class="col-md-6" *ngFor="let post of posts | slice:0:limit  | filter : search | paginate
                            : {
                                itemsPerPage: tableSize,
                                currentPage: page,
                                totalItems: count
                                };, let i=index">
            <div class="card d-flex flex-column">
                <div class="card-header">
                    <div class="card-actions">
                        <div class="dropdown">
                            <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"><!-- Download SVG icon from http://tabler-icons.io/i/dots-vertical -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <circle cx="12" cy="12" r="1" />
                                    <circle cx="12" cy="19" r="1" />
                                    <circle cx="12" cy="5" r="1" />
                                </svg>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#">Edit post</a>
                                <a class="dropdown-item" href="#">Add Images</a>
                                <a class="dropdown-item text-danger" href="#">Delete post</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="carousel-indicators-thumb" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-indicators carousel-indicators-thumb">
                        <button *ngFor="let image of post.galleries ,let i = index" type="button" data-bs-target="#carousel-indicators-thumb" [attr.data-bs-slide-to]="i"
                            class="ratio ratio-4x3" [class.active]="image.isDefault" [ngStyle]="{'background-image': getUrl(image.url)}"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item " [class.active]="image.isDefault" *ngFor="let image of post.galleries">
                            <img class="d-block w-100" alt="" [src]="image.url">
                        </div>
                    </div>
                </div>
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title"><a href="#">{{post.title}}</a></h3>
                    <div class="text-muted">{{post.content}}</div>
                    <div class="d-flex align-items-center pt-4 mt-auto">
                        <span class="avatar" [ngStyle]="{'background-image': getUrl(post.author.profileUrl)}"></span>
                        <div class="ms-3">
                            <a href="#" class="text-body">{{post.author.username}}</a>
                            <div class="text-muted">Posted at {{post.addedAt | date}}</div>
                        </div>
                        <div class="ms-auto">
                            <a href="#" class="icon d-none d-md-inline-block ms-3 text-muted">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <ul class="pagination m-0 ms-auto mt-3">
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
    </ul>
</div>
