<img src="../../assets/img/asset/s-img.jpg" alt="">
<h2 class="text-uppercase">Adele Gonzalez</h2>
<p>
    MCSE boot camps have its supporters and
    its detractors. Some people do not understand why you should have to spend money
</p>
<div class="social-link">
    <a href="#"><button class="btn"><i class="fa fa-facebook" aria-hidden="true"></i>
            Like</button></a>
    <a href="#"><button class="btn"><i class="fa fa-twitter" aria-hidden="true"></i>
            follow</button></a>
</div>