<h4 class="text-uppercase pb-20">Recent Posts</h4>
<div class="active-recent-carusel">
    <div class="item" *ngFor="let recent of recentsPosts">
        <img width="308" height="190" [src]="recent.profileDefault" alt="">
        <a [routerLink]="['/',recent.slug]" *ngIf="recent.title.length <=30 " class="mt-20 title text-uppercase">{{recent.title}} <br>
            For Everyone</a>
        <a [routerLink]="['/',recent.slug]"  *ngIf="recent.title.length >30 " class="mt-20 title text-uppercase">{{recent.title | slice:0:30}}... <br>
            For Everyone</a>
        <p> 
            {{recent.recentTime}} ago

            <span> <i class="fa fa-heart-o" aria-hidden="true"></i>
                {{recent.likes}} <i class="fa fa-comment-o" aria-hidden="true"></i> {{recent.comments?.length}}
            </span>
        </p>
    </div>
</div> 