<app-header></app-header>

<app-banner></app-banner>

<!-- Start post Area -->
<div class="post-wrapper pt-100">
    <!-- Start post Area -->
    <section class="post-area">
        <div class="container">
            <div class="row justify-content-center d-flex">
                <div class="col-lg-8">
                    
                    <router-outlet></router-outlet>

                </div>
                <div class="col-lg-4 sidebar-area">
                    <div class="single_widget search_widget">

                        <app-search></app-search>

                    </div>

                    <div class="single_widget about_widget">

                        <app-author></app-author>

                    </div>
                    <div class="single_widget cat_widget">

                        <app-category></app-category>

                    </div>

                    <div class="single_widget recent_widget">

                        <app-recents-posts></app-recents-posts>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End post Area -->
</div>
<!-- End post Area -->

<app-footer></app-footer>